@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #131212;
  --primary-color: #3182ce;
  --secondary-color: #2d3748;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c; 
    --foreground: #f7fafc;
    --primary-color: #63b3ed;
    --secondary-color: #4a5568;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}
